<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VLog.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <VLog.Properties.Settings>
            <setting name="VehicleName" serializeAs="String">
                <value>E36</value>
            </setting>
            <setting name="BrandName" serializeAs="String">
                <value>BMW</value>
            </setting>
            <setting name="VIN" serializeAs="String">
                <value>4Y1-SL658-4-8-Z-41-1439</value>
            </setting>
            <setting name="ManDate1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ManDate2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ManDate3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OdometerKM" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ServDate1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ServDate2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ServDate3" serializeAs="String">
                <value>0</value>
            </setting>
        </VLog.Properties.Settings>
    </userSettings>
</configuration>